@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-stone-800 antialiased font-sans bg-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}

@layer components {
  .layout-container {
    @apply max-w-7xl mx-auto px-4 md:px-8;
  }

  .btn-primary {
    @apply bg-primary text-white px-6 py-3 text-sm uppercase tracking-widest font-bold hover:bg-stone-800 transition-colors;
  }

  .input-field {
    @apply w-full border-b border-gray-300 py-2 focus:outline-none focus:border-secondary transition-colors bg-transparent;
  }
}

/* Custom Scrollbar Hide */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}